
a:link {color:#000066;}

a:visited {color:#4D4D94;}

a:hover {color:#006600;}

#header {
	background-color:#99CC33;
	height:150px;
	text-align:right;
}

#header a {
	color:#000066;
	text-decoration:none;
	vertical-align:bottom;
}

#menu {
	background-color:#ADD8FF;
	height:50px;
}

#menu a, #menu form {
	display: block;
	float: left;
	padding: 10px;
}

#menu a {
	font-weight: bold;
}

#content {
	background-color:#E0FFFF;
}

#footer {
	background-color:#99CC33;
	text-align:center;
}

#hakutulos {
	background-color:#E0FFFF;
	padding: 20px;
}
